<!DOCTYPE html>

<h1>All Courses</h1>
<br>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
<br>
<br>
<br><br>

<% @all_courses.each do |course| %>
<%= course.id %>
<a href = "<link_to" ><%= course.title %></a>
<a href= "<%= course.homepage %>" >homepage </a>
<form action = "/course/single_course" method="GET">
<input type="hidden" name="id" value = "<%= course.id%>">
<button><img src="<%= course.image %>" height = "42" widht = "42" ></button>
</form>
<html>
<body>
<%= course.summary %>
</body>
</html>
	
<br><br>
<br><br>
<br>
<%end%>

