<%= @courses.id %>
<%= @courses.title %>
<a href= "<%= @courses.homepage %>" >homepage </a>
<img src="<%= @courses.image %>" height = "42" widht = "42" >
<%= @courses.teaser_video %>
<%= @courses.banner_image %>
<%= @courses.required_knowledge %>
<%= @courses.sallybus %>
<%= @courses.faq %>
<% if current_user.enrolled? @courses.id %>
<form action = "/course/enroll_now" method="POST">
<input type="hidden" name="course_id" value="<%= @courses.id %>">
<button type="submit">enroll now</button>
</form>
<%else%>
<form action = "/course/unenroll" method="POST">
<input type="hidden" name="course_id" value="<%= @courses.id %>">
<button type="submit">Unenroll</button>
</form>
<%end%>
