<% #@usercourse.each do |usercourse|%>
<!--<%= @usercourse %>-->
<%#end%>
<% @course.each do|course| %>
<% if @usercourse.include? course.id%>
	<% #course.title %>
	<form action = "/course/user_course_running" method="GET">
		<input type="hidden" name="id" value="<%= course.id %>">
		<%= link_to course.title , '/course/user_course_running' %>
		<button type = "submit" >Start this course</button>
	</form>
	
	<a href= "<%= course.homepage %>" >homepage </a>
	
	<img src="<%= course.image %>" height = "42" widht = "42" >
	<!--<%= course.teaser_video %>
	<%= course.banner_image %>
	<%= course.required_knowledge %>
	<%= course.sallybus %>
	<%= course.faq %>-->
	<form action = "/course/unenroll" method="POST">
	<input type="hidden" name="course_id" value="<%= course.id %>">
	<button type="submit">Unenroll</button>
	</form>
	<br>
	<br>
	<br>
	<br>
	<%end%>
<%end%>