<!DOCTYPE html>

<h1>All Courses</h1>
<br>
<% if user_signed_in?%>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<%end%>

<% unless user_signed_in? %>
<%= link_to('login',new_user_session_path) %>   
<%end%>

<% if user_signed_in?%>
<%= link_to('My Courses',{ controller: "course", action: "user_courses" })%>
<%end%>
<br>
<br>
<br><br>

<% @all_courses.each do |course| %>
<%= course.id %>
<a href = "<link_to" ><%= course.title %></a>
<a href= "<%= course.homepage %>" >homepage </a>
<form action = "/course/single_course" method="GET">
<input type="hidden" name="id" value = "<%= course.id%>">
<button><img src="<%= course.image %>" height = "42" widht = "42" ></button>
</form>
<html>
<body>
<%= course.summary %>
</body>
</html>
<br><br>
<br><br>
<br>
<%end%>